.twine {
  width: 99vw;
  height: 99vh;
  display: flex;
}

.light {
  flex: 2;
}

.dark {
  flex: 1;
}

.track {
  animation: marquee 3300s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(100%);
  }
}