/* * {
  outline: 1px solid blue;
}

div {
  outline: 1px solid red;
}

 */
 
.twine {
  width: 96vw;
  display: flex;
}

.light {
  flex: 2;


}

.dark {
  flex: 1;
  overflow: auto;
  height: 100vh;
  position: sticky;
  top: 0;
}

:root {
  --marquee_duration: 99s;
}


.track { animation: var(--marquee_duration) linear infinite marquee; }

@keyframes marquee {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(100vh);
  }
}